{{> _partials/header}}
<div id="wrapper">
  {{> _partials/nav}}
    <div id="page-wrapper">
      <div class="row">
          <div class="col-lg-12">
              <h3 class="page-header">API Explorer</h3>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
      	<div class="col-lg-12">
					<div>
						<strong>User       : </strong> <span id="session-username"></span><br/>
						<strong>Expiration :</strong> <span id="session-expiration"></span><br/>
						<strong>JWToken    :</strong> <input id="session-token" style="width:100%" type='text' value='' readonly='true'></input>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h4>Custom API Requests</h4>
					<form id='dev-form'>
						<select id='dev-method'>
						  <option value="GET">GET</option>
						  <option value="POST">POST</option>
						  <option value="PUT">PUT</option>
						  <option value="PATCH">PATCH</option>
						  <option value="DELETE">DELETE</option>
						</select>
						<input id='dev-url' type='text' value='/api/v1/_help' style='max-width:640px;width:100%'></input><br/>
						<div id='dev-body-container' class='hidden'>
							<label>Body:</label><div id='dev-body-validjson-container' class='pull-right hidden'><span id='dev-body-validjson-icon' class='glyphicon'></span>&nbsp;JSON</div><br/>
							<textarea id='dev-body' style='width:100%;height:80px;'></textarea>
						</div>
						<br/><button id='dev-send' type='submit' class='btn btn-primary'>Send Request</button>
					</form>
					<div id='dev-output' style='height:400px;overflow:scroll;border:1px solid black; margin-top:10px;'></div>
					<div style="height:20px;width:100%"><a href="#" class="pull-right" id="dev-link-clear">clear</a></div>
				</div>
			</div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>

{{> _partials/commonjs}}
<!-- Morris Charts JavaScript -->

<script src="bower_components/handlebars/handlebars.min.js"></script>
<!-- <script src="bower_components/handlebars/handlebars.runtime.min.js"></script> -->
<script src="js/dev.js"></script>

{{> _partials/footer}}