{{> _partials/header}}
<div id="wrapper">
  {{> _partials/nav}}
    <div id="page-wrapper">
      <div class="row">
      	<h1 id="username"></h1>
      	<h2 id="organization"></h2>
			</div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>

{{> _partials/commonjs}}
<!-- Morris Charts JavaScript -->

<script src="bower_components/handlebars/handlebars.min.js"></script>
<!-- <script src="bower_components/handlebars/handlebars.runtime.min.js"></script> -->
<script src="js/profile.js"></script>

{{> _partials/footer}}