<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Recent Monitor Reports
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-info">
                <i class="fa fa-envelope fa-fw"></i> <em>Ifakara Town</em>
                <span class="pull-right text-muted small"><em>4 minutes ago</em>
                </span>
            </a>
            <a href="#" class="list-group-item list-group-item-success">
                <i class="fa fa-level-up fa-fw"></i> <em>Peregia Chuma</em>
                <span class="pull-right text-muted small"><em>25 minutes ago</em>
                </span>
            </a>
            <a href="#" class="list-group-item list-group-item-info">
                <i class="fa fa-envelope fa-fw"></i> <em>Hija Choyo</em>
                <span class="pull-right text-muted small"><em>2 hours ago</em>
                </span>
            </a>
            <a href="#" class="list-group-item list-group-item-info">
                <i class="fa fa-envelope fa-fw"></i> <em>Jongo Primary School</em>
                <span class="pull-right text-muted small"><em>2 hours ago</em>
                </span>
            </a>
            <a href="#" class="list-group-item list-group-item-danger">
                <i class="fa fa-level-down fa-fw"></i> <em>Madukani Primary School</em>
                <span class="pull-right text-muted small"><em>4 hours ago</em>
                </span>
            </a>
        </div>
        <!-- /.list-group -->
        <a href="reports.html" class="btn btn-default btn-block">View All Reports</a>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->