<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-line-chart fa-fw"></i> Aggregate Data
        <div class="pull-right">
        		Metric: 
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Total Water Volume
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Average Water Volume</a>
                    </li>
                    <li><a href="#">Average Flow Rate</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">MoMo Battery Voltage</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
    	<div id="dashboard-history-chart"></div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->