<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-pie-chart fa-fw"></i> Functionality
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="dashboard-functionality-chart"></div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->