<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-map-marker fa-fw"></i> Monitor Map
        <div class="pull-right">
        		Showing: 
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    All Monitors
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Monitors Reporting Functional</a>
                    </li>
                    <li><a href="#">Monitors Reporting Non-Functional</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Monitors with Low Battery</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
    	<div id="dashboard-monitor-map"></div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->