		<div class='footer'></div>
		<div class='footer'>
			<span class='footer pull-right text-muted small'>Copyright &copy; <a href="http://www.welldone.org">WellDone International</a> 2014.  All rights reserved.</span>
		</div>
  </body>
</html>