		<div class='row'>
			<div class='col-sm-12'>
				<span class='pull-right text-muted small'>Copyright 2014 <a href="http://www.welldone.org">WellDone International</a></span>
			</div>
  </body>
</html>