html, body {
	height: 100%;
	max-width: 100%;
}

#wrapper {
	margin-bottom:-2em;
	height: auto !important;
	height:100%;
}
.footer {
	height: 2em;
}
span.footer {
	padding-top: .5em;
	padding-right:.5em;
}

.navbar {
  background-color: #21ace3;
  border-bottom: none;
  margin-bottom: 0px;
}
.navbar-header {
	width:100%;
}

.navbar-brand {
	padding:10px 10px;
}

.navbar-top-links {
	float: right !important;
}
.navbar-top-links li a.dropdown-toggle {
	color: #000000 !important;
}

.navbar-toggle {
	border-color: #000000 !important;
}
.navbar-toggle:hover, .navbar-toggle:hover {
	background-color: #000000 !important;
}
.navbar-toggle .icon-bar {
	background-color: #FFFFFF !important;
}

.sticky {
	z-index: 99999;
}

#dashboard-monitor-map {
	height: 300px;
}

#page-wrapper {
	border-bottom: solid 1px #e7e7e7;
}

.sidebar-divider {
	height: 20px;
}

@media screen and (max-width: 900px) {
  .sidebar-divider {
  	display: none !important;
  }
}

#monitors-filter {
	margin-bottom: 5px;
}

.filter-toggle a {
	color:white;
}

.floating-select-link {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #777;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
}

.nav-tabs.nav-tabs-sm>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1
}

.table-linked-rows tr {
	cursor: pointer;
}

.right-edit {
	margin-left:10px;
	color: #999999;
	cursor: pointer;
	font-size:80%;
}