html, body {
	height: 100%;
	max-width: 100%;
}

#wrapper {
	margin-bottom:-2em;
	height: auto !important;
	height:100%;
}
.footer {
	height: 2em;
}
span.footer {
	padding-top: .5em;
	padding-right:.5em;
}

.navbar {
  background-color: #21ace3;
  border-bottom: none;
  margin-bottom: 0px;
}
.navbar-header {
	width:100%;
}

.navbar-brand {
	padding:10px 10px;
}

.navbar-top-links {
	float: right !important;
}
.navbar-top-links li a.dropdown-toggle {
	color: #000000 !important;
}

.navbar-toggle {
	border-color: #000000 !important;
}
.navbar-toggle:hover, .navbar-toggle:hover {
	background-color: #000000 !important;
}
.navbar-toggle .icon-bar {
	background-color: #FFFFFF !important;
}

.sticky {
	z-index: 99999;
}

#dashboard-monitor-map {
	height: 300px;
}

#page-wrapper {
	border-bottom: solid 1px #e7e7e7;
}

.sidebar-divider {
	height: 20px;
}

@media screen and (max-width: 900px) {
  .sidebar-divider {
  	display: none !important;
  }
}

#monitors-filter {
	margin-bottom: 5px;
}

.filter-toggle a {
	color:white;
}