{{> partials/header}}
<div id="wrapper">
  {{> partials/nav}}
    <div id="page-wrapper">
      <div class="row">
          <div class="col-lg-12">
              <h3 class="page-header">Strato Data Dashboard</h3>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
          <div class="col-lg-3 col-md-6">
              {{> partials/dashboard/stats/daily-report-count}}
          </div>

          <div class="col-lg-3 col-md-6">
              {{> partials/dashboard/stats/status-ok}}
          </div>
          
          <div class="col-lg-3 col-md-6">
              {{> partials/dashboard/stats/status-failed}}
          </div>
          <div class="col-lg-3 col-md-6">
              {{> partials/dashboard/stats/status-unknown}}
          </div>
      </div>
      <!-- /.row -->
      <div class="row">
          <div class="col-lg-8">
          		{{> partials/dashboard/map}}
              {{> partials/dashboard/aggregates-chart}}
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-4">
              {{> partials/dashboard/functionality-chart}}
          		{{> partials/dashboard/recent-reports}}
          </div>
          <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>

{{> partials/commonjs}}
<!-- Morris Charts JavaScript -->
<script src="bower_components/raphael/raphael-min.js"></script>
<script src="bower_components/morrisjs/morris.min.js"></script>

<script src="js/countries.geo.js" type="text/javascript"></script>
<script src="bower_components/leaflet/dist/leaflet.js"></script>
<script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

<script src="js/dashboard.js"></script>

{{> partials/footer}}